body{
	margin: 0 0 0 0
	background-image: url("olineit.png");

	background-repeat: repeat-x repeat-y;
}

#wrapper{
	width: 960px;
	height: 720px;
	margin: 0 auto 0 auto;
	color: white;

	text-align: center;


}
#header{
    text-align: center;
    width: 100%;
    height: 200Px;
}
#menubar{
	background: tomato;
    text-align: center;
    width: 100%;
   
   color: white;
}
.menu{
	width: 234px;
	height: inherit;
	background-color: red;
	float: left;
	height: 50px;
	padding-top: 16px;
}

#content{
	background: tomato;
	height: 500px;

}
#footer{
	background: gray;
	text-align: center;
	width: 100%;
    height: 200Px;
}
.olineit{
	width: 200px;
	float: left;
}
.bangladesh{
	float: left;
		
}
a{
	text-decoration: none;
	color: white;
}